.git
.gitignore
.env
.env.*
!.env.example
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.phpunit.cache
tests
README.md
docker-compose.yml
Dockerfile
.dockerignore
